*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:gray;
}

.df{
    display: flex;
}

#container{
    max-width: 900px;
    height: 100vh;
    /* background-color: #555; */
    margin: 0 auto;
}

.color-background-main{
    background-color: #e9e9e9;

}

#main-left{
    width: 300px;
    border-right: 1px solid blanchedalmond;
}

#nome-utente{
    /* background-color: #e9e9e9; */
    align-items: center;
    padding: 10px 0;
}

#azioni{
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
}

#messaggio-notifiche{
    background-color: #8edafd;
    padding: 15px 0;
    padding-left: 25px;
}

#messaggio-notifiche > #img-bell{
    background-color: #fff;
}

#testo-notifiche{
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;
}

#testo-notifiche > .main-text{
    font-size: 15px;
}

#testo-notifiche > .link a{
    color: gray;
}

#container-chat{
    height: calc(100vh - (80px + 70px));
    overflow-y: auto;
}

.center{
    justify-content: center;
    align-items: center;
}

#main-right{
    width: calc(100% - 300px);
}

#informazioni-chat{
    flex-grow: 3;
}

#area-chat{
    height: calc(100vh - (70px + 70px));
    background: url(../img/mine.jpg) no-repeat ;
    background-size: cover;
    padding: 40px;
    overflow-y: auto;
    flex-direction: column;
}

#input-chat{
    padding: 15px 0;
}

#input-chat > #input-block{
    height:40px;
    display: inline-block;
    width:100%;
}

#input-block > input{
    height:100%;
    width:100%;
}

#input-chat i{
    font-size:20px;
}

#input-chat > #emoji,
#input-chat > #audio{   
    padding: 0 30px;
}

#contatto{
    padding: 10px 0;
}

#contatto.attivo{
    background-color: #c6c6c6;
}

.circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#img-account{
    margin: 0 15px;
    overflow-y: hidden;
}

#img-account img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#nome-account{
    flex-grow: 2;
}

#nome-account,
.main-text{
    font-weight:bold;
}

.message{
    padding: 10px;
    width: fit-content;
    display: inline-block;
    margin-top: 10px;
    border-radius: 5px;
}

.my-message{  
    background-color:rgba(0, 225, 0, 0.6);
    align-self: flex-end;
}

.other-message{
    background-color:rgba(255, 0, 0, 0.6);
    align-self: flex-start;
}