<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

</head>
<body>
    
    <div id="app">
        <main id="container" class='df'>

            <div id="main-left" class='color-background-main'>

                <div id="nome-utente" class="df">
                    <div id="img-account" class="circle">
                        <img src="./img/avatar_io.jpg" alt="">
                    </div>

                    <div id="nome-account" class="nome-utente">
                        Nome Utente
                    </div>

                    <div id="azioni">
                        <div id="azione-1">
                            <i class="fas fa-circle-notch"></i>
                        </div>
                        <div id="azione-2">
                            <i class="fas fa-comment-alt"></i>
                        </div>
                        <div id="azione-3">
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                </div>

                <div id="messaggio-notifiche" class="df">

                    <div id="img-bell" class="df center circle">
                        <i class="fas fa-bell-slash"></i>
                    </div>
                    
                    <div id="testo-notifiche" class="df">
                        <div class="main-text">
                            Ricevi notifiche di nuovi messaggi
                        </div>
                        <div class="link">
                            <a href="#">Attiva notifiche desktop</a>
                        </div>
                    </div>

                </div>

                <div id="search-contact">

                    <input type="search" v-model='searchContact' @change='elementiFiltrati'>
                    <i class="fas fa-search"></i>

                </div>

                <div id="container-chat">

                    <div id="container-contacts">

                        <div id="chat-box" v-for='(contact, i) in newListContacts' @click='getId(i)'>
                            <div id="contatto" class='df' :class='i%2===0? "attivo":""'>
                                <div id="img-account" class="circle">
                                    <img :src="contact.avatar" alt="">
                                </div>
                                <div id="nome-account">
                                    {{contact.name}}
                                </div>
                            </div>  
                        </div>

                    </div>

                </div>

            </div>

            <div id="main-right" class="color-background-main">

                <div id="nome-utente" class="df">
                    <div id="img-account" class="circle">
                        <img :src='newListContacts[id].avatar' alt="">
                    </div>
                
                    <div id="informazioni-chat">
                        <div id="nome-account" class="nome-utente">
                            {{newListContacts[id].name}}
                        </div>

                        <div id="access">Ultimo accesso oggi alle</div>
                        
                        
                    </div>
                
                    <div id="azioni">
                        <div id="azione-1">
                            <i class="fas fa-search"></i>
                        </div>
                        <div id="azione-2">
                            <i class="fas fa-paperclip"></i>
                        </div>
                        <div id="azione-3">
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                </div>

                <div id="area-chat" class="df">
                    <div v-for='(message,index) in newListContacts[id].messages' class="message" :class="message.status==='sent'? 'my-message':'other-message'">
                        {{message.text}}
                    </div>
                    <!-- <div class="message my-message" >
                        ciao
                    </div>
                    <div class="message other-message" >
                        ciao
                    </div> -->
                </div>

                <div id="input-chat" class="df center">

                    <div id="emoji">
                        <i class="far fa-grin-tongue-squint"></i>
                    </div>
                    <div id="input-block"  >
                        
                        <input type="text" v-model='temporaryMessage' placeholder="Scrivi un messaggio" @keyup.enter='writeMessage'>
                    </div>
                    <div id="audio">
                        <i class="fas fa-microphone"></i>
                    </div>

                </div>

            </div>
        </main>
        
    </div>

    <script src="js/script.js"></script>
</body>
</html>